# CNB specific
.cache/
.certs/
.private/
.venv-*/
.venv*/
*.egg-info/
*.ini
*.settings
cache*/
cache.db
config-*.ini
exports*/
exports-*/
launcher.*

# IDEs and editors
.idea/
.project
.sublime-project
.sublime-workspace
.vscode/
*.swp
*.swo
.classpath

# Node.js
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.next
.node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.dist/

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
.Python
.env
__pycache__/
*.egg
*.py[cod]
*$py.class
*.so
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
htmlcov/
lib/
lib64/
parts/
sdist/
var/
venv/
ENV/
env/
releases/
release/
.venv
pip-log.txt
.pytest_cache/
.coverage
.installed.cfg
